apiVersion: apps/v1
kind: Deployment
metadata:
    labels:
        {{- range $key, $val := .Values.manager.labels }}
        {{ $key }}: {{ $val | quote }}
        {{- end}}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: ocular
        control-plane: controller-manager
    name: ocular-controller-manager
    namespace: {{ .Release.Namespace }}
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/name: ocular
            control-plane: controller-manager
    template:
        metadata:
            annotations:
                {{- range $key, $val := .Values.manager.annotations }}
                {{ $key }}: {{ $val | quote }}
                {{- end}}
                kubectl.kubernetes.io/default-container: manager
            labels:
                {{- range $key, $val := .Values.manager.labels }}
                {{ $key }}: {{ $val | quote }}
                {{- end}}
                app.kubernetes.io/name: ocular
                control-plane: controller-manager
        spec:
            affinity:
                nodeAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                        nodeSelectorTerms:
                            - matchExpressions:
                                - key: kubernetes.io/arch
                                  operator: In
                                  values:
                                    - amd64
                                    - arm64
                                    - ppc64le
                                    - s390x
                                - key: kubernetes.io/os
                                  operator: In
                                  values:
                                    - linux
            containers:
                - args:
                    {{- if .Values.metrics.enable }}
                    - --metrics-bind-address=:{{ .Values.metrics.port }}
                    {{- else }}
                    # Bind to :0 to disable the controller-runtime managed metrics server
                    - --metrics-bind-address=0
                    {{- end }}
                    - --health-probe-bind-address=:8081
                    {{- range .Values.manager.args }}
                    - {{ . }}
                    {{- end }}
                    {{- if and .Values.certManager.enable .Values.metrics.enable }}
                    - --metrics-cert-path=/tmp/k8s-metrics-server/metrics-certs
                    {{- end }}
                    {{- if .Values.certManager.enable }}
                    - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
                    {{- end }}
                  envFrom:
                    - configMapRef:
                        name: ocular-controller-manager-config-dh8htt852d
                  image: "{{ .Values.manager.image.repository }}:{{ .Values.manager.image.tag }}"
                  imagePullPolicy: {{ .Values.manager.image.pullPolicy }}
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8081
                    initialDelaySeconds: 15
                    periodSeconds: 20
                  name: manager
                  ports:
                    - containerPort: {{ .Values.webhook.port }}
                      name: webhook-server
                      protocol: TCP
                  readinessProbe:
                    httpGet:
                        path: /readyz
                        port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  resources:
                    {{- if .Values.manager.resources }}
                    {{- toYaml .Values.manager.resources | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                  securityContext:
                    {{- if .Values.manager.securityContext }}
                    {{- toYaml .Values.manager.securityContext | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                  volumeMounts:
                    {{- with .Values.manager.volumeMounts }}
                    {{- toYaml . | nindent 20}}
                    {{- end}}
                    {{- if and .Values.certManager.enable .Values.metrics.enable }}
                    - mountPath: /tmp/k8s-metrics-server/metrics-certs
                      name: metrics-certs
                      readOnly: true
                    {{- end }}
                    {{- if .Values.certManager.enable }}
                    - mountPath: /tmp/k8s-webhook-server/serving-certs
                      name: webhook-certs
                      readOnly: true
                    {{- end }}
            securityContext:
              {{- if .Values.manager.podSecurityContext }}
              {{- toYaml .Values.manager.podSecurityContext | nindent 14 }}
              {{- else }}
              {}
              {{- end }}
            serviceAccountName: ocular-controller-manager
            terminationGracePeriodSeconds: 10
            volumes:
                {{- with .Values.manager.volumes }}
                {{- toYaml . | nindent 16}}
                {{- end}}
                {{- if and .Values.certManager.enable .Values.metrics.enable }}
                - name: metrics-certs
                  secret:
                    items:
                        - key: ca.crt
                          path: ca.crt
                        - key: tls.crt
                          path: tls.crt
                        - key: tls.key
                          path: tls.key
                    optional: false
                    secretName: metrics-server-cert
                {{- end }}
                {{- if .Values.certManager.enable }}
                - name: webhook-certs
                  secret:
                    secretName: webhook-server-cert
                {{- end }}
