apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterCrawler
metadata:
  name: ocular-defaults-dockerhub
spec:
  container:
    env:
      - name: DOCKERHUB_TOKEN
        valueFrom:
          secretKeyRef:
            key: dockerhub-token
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
    image: '{{ .Values.crawlers.image.repository }}:{{ .Values.crawlers.image.tag }}'
    name: dockerhub
    resources: {}
  parameters:
    - description: Comma-separated list of Docker Hub organizations to crawl.
      name: DOCKERHUB_ORGS
      required: true
    - default: "1"
      description: Maximum number of tags (versions) to retrieve per image. Will retrieve the latest N tags for each docker hub image and start a new pipeline for each. Set to 0 to retrieve all versions. Defaults to 1.
      name: RECENT_TAG_LIMIT
      required: false
