---
apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterCrawler
metadata:
  name: ocular-defaults-github
spec:
  container:
    env:
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            key: github-token
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
      - name: GITHUB_APP_PRIVATE_KEY
        valueFrom:
          secretKeyRef:
            key: github-app-private-key
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
      - name: GITHUB_APP_ID
        valueFrom:
          secretKeyRef:
            key: github-app-id
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
    image: '{{ .Values.crawlers.image.repository }}:{{ .Values.crawlers.image.tag }}'
    name: github
    resources: {}
  parameters:
    - description: Comma-separated list of GitLab groups to crawl.
      name: GITHUB_ORGS
      required: true
    - default: "false"
      description: If set to anything but '0' or 'false', forked repositories will be skipped.
      name: SKIP_FORKS
      required: false
