---
apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterCrawler
metadata:
  name: ocular-defaults-ghcr
spec:
  container:
    env:
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            key: github-token
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
      - name: GITHUB_APP_PRIVATE_KEY
        valueFrom:
          secretKeyRef:
            key: github-app-private-key
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
      - name: GITHUB_APP_ID
        valueFrom:
          secretKeyRef:
            key: github-app-id
            name: "{{ .Values.crawlers.secretName }}"
            optional: true
    image: '{{ .Values.crawlers.image.repository }}:{{ .Values.crawlers.image.tag }}'
    name: ghcr
    resources: {}
  parameters:
    - description: Comma-separated list of Docker Hub organizations to crawl.
      name: GITHUB_ORGS
      required: true
    - default: "1"
      description: Maximum number of tags (versions) to retrieve per image. Will retrieve the latest N tags for each GHCR image and start a new pipeline for each. Set to 0 to retrieve all versions. Defaults to 1.
      name: RECENT_TAG_LIMIT
      required: false
