apiVersion: v1
kind: Service
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: ocular
    name: ocular-webhook-service
    namespace: {{ .Release.Namespace }}
spec:
    ports:
        - port: 443
          protocol: TCP
          targetPort: {{ .Values.webhook.port }}
    selector:
        app.kubernetes.io/name: ocular
        control-plane: controller-manager
