---
apiVersion: ocular.crashoverride.run/v1beta1
kind: ClusterDownloader
metadata:
  name: ocular-defaults-s3
spec:
  container:
    env:
      - name: AWS_CONFIG_FILE
        value: /ocular/aws/config
    image: '{{ .Values.downloaders.image.repository }}:{{ .Values.downloaders.image.tag }}'
    name: s3
    resources: {}
    volumeMounts:
      - mountPath: /ocular/aws/config
        name: s3-file-secrets
        readOnly: true
        subPath: aws-config
  volumes:
    - name: s3-file-secrets
      secret:
        optional: true
        secretName: "{{ .Values.downloaders.secretName }}"
